@media screen and (max-width: 600px) {
  .quiz_card {
    background: #d9d9d9;
    border-radius: 8px;
    padding: 24px;
    word-break: break-all;
    margin: 20px 20px;
    min-height: 100px;
  }
}
@media screen and (min-width: 601px) {
  .quiz_card {
    background: #d9d9d9;
    border-radius: 8px;
    padding: 24px;
    word-break: break-all;
    margin: 20px 20px;
    min-height: "100px";
    width: 70%;

    margin: 10px auto;
  }
}
.border {
  border: 1px solid red;
}

.quiz_card.bg-blue {
  background: #add8e6 !important; /* 薄い青 */
}/*親クラスとつなげて子クラスを指定することで優先表示*/